# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this I will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries.

In [99]:
!pip install glob
!pip install pandas
!pip install requests
!pip install datetime

ERROR: Could not find a version that satisfies the requirement glob (from versions: none)
ERROR: No matching distribution found for glob
Requirement already satisfied: pandas in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from requests) (1.26.6)
Requirement already satisfied: datetime in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (4.3)
Requirement already satisfied: zope.interface in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from datetime) (2021.1)
Requirement already satisfied: setuptools in /opt/conda/envs/Python-3.8-main/lib/python3.8/site-packages (from zope.interface->datetime) (52.0.0.post20211006)

## Imports

Import any additional libraries you may need here.

In [103]:
import glob
import pandas as pd
from datetime import datetime
import logging
import sys

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [40]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2022-01-11 05:40:33--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2022-01-11 05:40:34 (79.5 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2022-01-11 05:40:35--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2022-01-11 05:40:35 (42.7 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2022-01-11 05:40:36--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2022-01-11 05:40:37 (15.9 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [104]:
def extract_from_json(bank_market_cap_1):
    dataframe = pd.read_json(bank_market_cap_1)
    return dataframe

## Extract Function

Defined the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe.

In [105]:
columns=['Name','Market Cap (US$ Billion)']

In [106]:
def extract():
    # Write your code here
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    
    for jsonfile in glob.glob("bank_market_cap_1.json"):
        extraction_data=extracted_data.append(extract_from_json(jsonfile),ignore_index=True)
    return extraction_data

 Loaded the file <code>exchange_rates.csv</code> as a dataframe and found the exchange rate for British pounds with the symbol <code>GBP</code>, stored it in the variable  <code>exchange_rate</code>

In [126]:
df=pd.read_csv("exchange_rates.csv")
df
exchange_rate=print(df.loc[df["Unnamed: 0"]=="GBP"])

  Unnamed: 0     Rates
9        GBP  0.732398

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file fond the exchange rate of USD to GBP. Wrote a transform function that

1.  Changed the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounded the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Renamed `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [118]:
def transform(data):
        data["Market Cap (US$ Billion)"]=round(data["Market Cap (US$ Billion)"]*0.732398,2)
        data["Market Cap (US$ Billion)"]=data.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"},inplace=True)
        del data["Market Cap (US$ Billion)"]
        return data

## Load

Created a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`.

In [119]:
def load(bank_market_cap_gbp,extracted_data):
    return extracted_data.to_csv(bank_market_cap_gbp,index=False)

In [107]:
extract_from_json("bank_market_cap_1.json")

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

## Logging Function

In [108]:
logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logger = logging.getLogger('LOGGER_NAME')

## Running the ETL Process

In [121]:
logger.info("ETL Job Started")
logger.info('So this is shown on the console')

### Extract

Used the function <code>extract</code>, and printed the  rows

In [127]:
ext_data=extract()
print(ext_data)
ext_data.dtypes

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

Name                         object
Market Cap (US$ Billion)    float64
dtype: object

### Transform

In [128]:
transfer_data=transform(ext_data)
transfer_data

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                     286.32
1   Industrial and Commercial Bank of China                     252.83
2                           Bank of America                     238.27
3                               Wells Fargo                     225.59
4                   China Construction Bank                     188.52
..                                      ...                        ...
65                             Ping An Bank                      27.83
66                       Standard Chartered                      27.33
67                     United Overseas Bank                      25.73
68                                QNB Group                      24.58
69                              Bank Rakyat                      24.23

[70 rows x 2 columns]

### Load

In [124]:
log("Load phase Started")

In [129]:
load("bank_market_cap_gbp.csv",transfer_data)
load
pd.read_csv("bank_market_cap_gbp.csv")

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                     286.32
1   Industrial and Commercial Bank of China                     252.83
2                           Bank of America                     238.27
3                               Wells Fargo                     225.59
4                   China Construction Bank                     188.52
..                                      ...                        ...
65                             Ping An Bank                      27.83
66                       Standard Chartered                      27.33
67                     United Overseas Bank                      25.73
68                                QNB Group                      24.58
69                              Bank Rakyat                      24.23

[70 rows x 2 columns]

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-01-11        | 0.1     | Nishit Salian | Created this project
|